
.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  /* padding: 5px 10% ; */
}
.container::after {
  content: '';
  flex-grow: 999999999;
}
.itemContainer {
  margin: 2px;
  background-color: violet;
  position: relative;
}
.container i {
  display: block;
}
.container img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}
.titleWrapper {
  width: 100%;
  position: absolute;
  height: 3rem;
  background-color: #0005;
  bottom: 0rem;
  display: flex;
  align-items: center;
}
.titleText {
  color: #fff;
  padding: 0.5rem; 
}
