html,
body,
:global(#root) {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* :global(#root section) {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  background: green;
}
:global(#root div) {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: purple;
} */
